nav ul li a {
  font-size: 18px;
}

.bg-pinky {
  border-radius: 10px;
  background-color: #fceae8 !important;
}

.text-pink {
  color: #ff2278;
}
.btn-pink {
  color: white;
  background-color: #ff2278;
}
.cat1 {
  background-color: #ffa500;
  border-radius: 10px;
  padding: 10px 30px;
}
.cat2 {
  background-color: #da70d6;
  border-radius: 10px;
  padding: 10px 30px;
}

.cat3 {
  background-color: #0000ff;
  border-radius: 10px;
  padding: 10px 30px;
}

.card {
  border: none;
  border-radius: 10px !important;
  box-shadow: 5px 5px 10px lightgray !important;
}
